Django==5.0.6
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
channels==4.1.0
channels-redis==4.2.0
daphne==4.1.2
django-filter==24.2
Pillow==10.4.0
psycopg2-binary==2.9.9
redis==5.0.7
celery==5.4.0
python-decouple==3.8
requests==2.32.3
Pillow==10.4.0
deepface==0.0.93
tensorflow==2.17.0
opencv-python-headless==4.8.1.78